.formulario{
    display: flex;
    justify-content:center;
    margin: 0px 0px 90px 0px;
}

.formulario form{
    width: 50%; 
    background-color:  #f2f2f2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 10px 10px 20px #0000003a
}

.formulario h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 24px;
}

